@media (max-width: 1240px) {
    #img img{
        width: 95%;
    }
}

@media (max-width: 790px) {
    #box{
        width: 300px;
    }

    #img img{
        width: 95%;
    }

    #nutrition th{
        padding-right: 70px;
    }
}

@media (max-width: 365px){    
    #info h1{
        font-size: 30px;
    }
}